{% extends "base.html" %}

{% block title %}Redefinir sua senha{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center mt-5  p-5">
      <div class="col-md-8 col-lg-6 col-sm-10 border rounded-3 bg-white">
            <h1 class="text-center">Redefinir sua Senha</h1>
            <p>Nós enviamos instruções para você definir sua senha por e-mail.
            Se você não receber um e-mail, por favor, verifique se inseriu o endereço com o qual se registrou.</p>
      </div>
    </div>
  </div>
{% endblock %}

        