{% extends "base.html" %}

{% block title %}Redefinir sua senha{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center mt-5  p-5">
      <div class="col-md-8 col-lg-6 col-sm-10 border rounded-3 bg-white">
            <h1 class="">Esqueceu sua senha?</h1>
            <p class="">Digite seu endereço de e-mail para obter uma nova senha.</p>
            <form action="{% url 'password_reset' %}" method="post">
              {% csrf_token %}
              {% if form.errors %}
              <div class="alert alert-danger">
                <strong>Erro:</strong> Por favor, corrija os seguintes erros.
                <ul>
                  {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              <div class="form-group">
                <label for="email">Nome de usuário:</label>
                <input type="text" class="form-control mb-3" id="email" name="email" placeholder="Digite seu email de usuário">               
              <button type="submit" class="btn btn-dark roxo">Enviar e-mail</button>
              </div>
            </form>
           </div>
          </div>
        </div>
  
         
{% endblock %}
