{% extends "base.html" %}

{% block title %}Redefinição de senha concluída{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center mt-5  p-5">
      <div class="col-md-8 col-lg-6 col-sm-10 border rounded-3 bg-white">
        <div >
          <div>
            <h1 class="text-center">Senha Redefinida com Sucesso!</h1>
            <p class="text-center"><a href="{% url 'login' %}">Entrar Agora</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
