{% extends "base.html" %}

{% block title %}Alterar senha{% endblock %}

{% block content %}

{% include "account/profile_menu.html" %}

<div class="container-fluid">
  <div class="row justify-content-center mt-5  p-5">
      <div class="col-md-8 col-lg-6 col-sm-10 border rounded-3 bg-white">      
      <h1 class="mt-4 mb-3 text-center">Alterar senha</h1>      
      <form method="post" action="{% url 'password_change' %}" class="needs-validation" novalidate autocomplete="off">
        {% if form.errors %}
        <div class="alert alert-danger">
          <strong>Erro:</strong> Por favor, corrija os seguintes erros.
          <ul>
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="form-group">
          <label for="id_old_password">Senha Antiga</label>
          <div class="input-group mb-3">
            <input type="password" name="old_password" id="id_old_password" class="form-control" required autocomplete="new-password">
            <button type="button" class="btn btn-dark" id="show-password">
              <i class="bi bi-eye"></i>
            </button>
            <div class="invalid-feedback">
              Por favor, forneça sua senha antiga.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="id_new_password1">Nova Senha</label>
          <div class="input-group mb-3">
            <input type="password" name="new_password1" id="id_new_password1" class="form-control" required autocomplete="new-password">
            <button type="button" class="btn btn-dark" id="show-new-password1">
              <i class="bi bi-eye"></i>
            </button>
          </div>
          <div class="invalid-feedback">
            Por favor, forneça uma nova senha.
          </div>
        </div>
        <div class="form-group">
          <label for="id_new_password2">Confirmar Nova Senha</label>
          <div class="input-group mb-3">
            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required autocomplete="new-password">
            <button type="button" class="btn btn-dark" id="show-new-password2">
              <i class="bi bi-eye"></i>
            </button>
          </div>
          <div class="invalid-feedback">
            Por favor, confirme sua nova senha.
          </div>
        </div>
        <br>        
        <div class="justify-container-center text-center"> 
          <button type="submit" class="btn btn-dark roxo col-12">Alterar</button>
        </div>  
      
        {% csrf_token %}        
      </form>
      <br>
      <h6>        
        * Sua senha não pode ser muito semelhante às outras informações.<br>
        * Sua senha deve conter pelo menos 8 caracteres.<br>
        * Sua senha não pode ser uma senha comumente usada.<br>
        * Sua senha não pode ser inteiramente numérica.<br>
      </h6>
      <br>
    </div>
  </div>
</div>

<script>
  document.getElementById("show-new-password1").addEventListener("click", function() {
    var newPasswordInput1 = document.getElementById("id_new_password1");
    if (newPasswordInput1.type === "password") {
      newPasswordInput1.type = "text";
    } else {
      newPasswordInput1.type = "password";
    }
  });

  document.getElementById("show-new-password2").addEventListener("click", function() {
    var newPasswordInput2 = document.getElementById("id_new_password2");
    if (newPasswordInput2.type === "password") {
      newPasswordInput2.type = "text";
    } else {
      newPasswordInput2.type = "password";
    }
  });

  document.getElementById("show-password").addEventListener("click", function() {
    var oldPasswordInput = document.getElementById("id_old_password");
    if (oldPasswordInput.type === "password") {
      oldPasswordInput.type = "text";
    } else {
      oldPasswordInput.type = "password";
    }
  });
</script>
{% endblock %}
