{% extends "base.html" %}
{% block content %}
{% include "cards/menu_tarot.html" %}
<br>
<br>
<h1 class="text-white text-center">{{ corte.name_corte }}</h1>
<br>
<br>     


    <div class="row">
         <div class="text-center col-sm-12"> 
            <img class="img-fluid major " src="{{ corte.image_corte.url }}" >
        </div>
    </div>

    <div class="row mx-0">
        <div class="col-sm-12 bg-white">
            <h5>Palavras Chave:</h5>
            {% for tag in corte.key_word_minor.all %}
            {{ tag }}<br>
            {% endfor %}
            <p class="text-dark text-center">{{ corte.description|safe }}</p>
        </div>
    </div>

    {% if cortes %}
    <nav class="listcortes">    
        <ol>
            {% for c in cortes %}
                <a href="{{ c.get_absolute_url }}" class="text-decoration-none"><h5><li style="color: yellow;">{{ c.name_corte }}</li><h5></a>        
            {% endfor %}
        </ol> 
    </nav>    
{% endif %}

{% endblock %}
