{% extends "base.html" %}
{% block content %}
{% include "cards/menu_tarot.html" %}
<br>
<br>
<br>

  
<h1 class="text-white text-center">Arcanos Menores</h1>
<p class="text-center text-white">(Texto extraído do livro TARÔ Dicionário & Compêndio - Jana Riley)</p>
    
    
        
<a href="{% url 'cards:enumerators_list' %}" class="text-decoration-none"><h3 class="recuo-primeira-linha" style="color: yellow;">Os Enumerados:</h3></a>
<div class=" text-container text-justify container-fluid text-white">    
        <h4>
            Os Arcanos Menores consistem de 40 cartas: 10 cartas numeradas
            de 1 a 10 em cada um dos quatro naipes. Os quatro naipes são
            paus, copas, espadas e ouros. Os quatro naipes
            representam os quatro elementos e são extremamente
            importantes porque mostram as quatro últimas maneiras de que
            somos capazes de perceber as coisas. Toda a consciência humana
            é filtrada por nossa(s) 1) intuição ou espírito (paus); 2) emoções
            (copas); 3) pensamentos (espadas); ou 4) os cincos sentidos físicos
            (ouros). Se um estímulo não estiver sendo recebido por meio de
            um ou mais desses quatro mecanismos perceptivos, então não
            perceberemos sua presença.
            Na psicologia, essas quatro funções são chamadas de intuição,
            sentimento, pensamento e sensação, respectivamente. Também do
            ponto de vista psicológico, paus (intuição) corresponde ao
            super-consciente, ouros (emoções) ao subconsciente, espadas
            (pensamento) ao consciente e ouros (sensação) ao físico. Os quatro
            naipes são fundamentais para nossa existência na Terra, e suas
            correlações são encontradas em inúmeras formas, tais como o
            Cavaleiro, a Rainha, o Príncipe e a Princesa das cartas da realeza;
            as quatro estações Primavera, Verão, Outono e Inverno; e as
            quatro direções Norte, Sul, Leste, Oeste. Na astrologia e na
            alquimia eles são denominadas pelos quatro elementos Fogo, Água, Ar e
            Terra, e na numerologia são os números de 1 a 4.
            Os quatro naipes possuem nomes e títulos diferentes,
            dependendo do contexto em que estão sendo usados e que assunto
            está sendo discutido, mas seja quais forem estas denominações, cada
            naipe possui os mesmos atributos, isto é, o naipe de paus mantém as
            mesmas características como Fogo, o número 1, intuição, Primavera
            e espaço chamado Sul.
            Depois estão algumas outras propriedades geralmente atribuídas
            aos naipes. Diferentes tarólogos discordam um pouco acerca dessas
            correspondências, mas, em geral, são bem coerentes. Isso pode ser
            explorado através de interpretações oferecidas neste livro e nos de
            cada respectivo tarólogo.                    
        </h4>            
</div> 
        
     
<br>
<a href="{% url 'cards:corte_list' %}"  class="text-decoration-none"><h3 class=" recuo-primeira-linha"  style="color: yellow;" >As Cartas da Realeza:</h3></a>
<div class=" text-container text-justify container-fluid text-white">    
    <h4>
                Diz-se que, em todo o Tarô, as cartas da realeza são as que apresentam as figuras mais confusas. Algumas autoridades interpretam
                essas cartas como acontecimentos, outras, como pessoas, e outras ainda como pessoas e acontecimentos. Alguns tarólogos vêem as
                cartas da realeza como certos indivíduos específicos que estão presentes na vida de uma pessoa, enquanto outros acreditam que
                sejam traços de personalidade que se manifestam em todos nós. Felizmente, essa profusão de sentidos não é nem de perto tão
                contraditória quanto parece a princípio, e há até mesmo boas razões para isso, ou seja, as pessoas estão sempre envolvidas em acontecimentos
                parecidos com alguns aspectos delas mesmas. Por tudo ser de fato um, não há separação rígida entre o que sentimos no mundo exterior e o que
                somos no nível interior. Quando se lê o Tarô, tentar isolar a pessoa do que está ocorrendo é, na pior das hipóteses, perigoso, e na
                melhor, insensato. Mesmo assim, é provavelmente por esta razão que as cartas da realeza sejam muitas vezes a parte menos
                compreendida do Tarô. Muitas pessoas não estão conscientes de que tudo em suas vidas consiste de ser o que são ou, como C.G.
                Jung observou certa vez: "A vida de um indivíduo é característica dele mesmo." Quando se trata das cartas da realeza, as
                interpretações são muitas vezes equivocadas em virtude da crença muito comum de que uma grande parte dos acontecimentos,
                situações e pessoas que encontramos em nossas vidas são coisas que acontecem apesar de nós, em vez de acontecimentos
                que ocorrem por causa de nós. A maioria dos tarólogos neste livro, no entanto, está consciente disso, portanto, alguns escolheram
                definir as cartas da realeza em termos de acontecimentos, outros, da natureza da personalidade, enquanto outros ainda alternam as duas
                abordagens. De qualquer forma, os tarólogos descrevem a mesma coisa, a única diferença é que um é psíquico e o outro é físico. Uma
                vez compreendido isso, a semelhança entre interpretações aparentemente diferentes se torna mais evidente.
                Resumindo, as cartas da realeza podem ser interpretadas como 1) pessoas em geral, 2) pessoas específicas em sua vida, 3) você
                mesmo, 4) acontecimentos e situações ocorrendo com outra pessoa, ou 5) acontecimentos e situações ocorrendo com você
                mesmo. Ao ler as interpretações que se seguem, será útil lembrar que os sentidos podem ser aplicados a um ou mais desses contextos
                e devem ser aplicados de acordo com o que o consulente está procurando. Ou, se isso for muito confuso (o que com certeza é
                para mim), uma forma mais homogênea é estabelecer, como a maioria dos tarólogos faz, uma ou mais formas específicas de ler as
                cartas da realeza. Após se familiarizar com as cartas da realeza, você poderá escolher por si mesmo que tipo de sentido atribuir a elas.
                Ou uma forma ainda mais antiga, mais tradicional, de usá-las é simplesmente eliminar o exposto acima e usar as cartas da realeza
                apenas como significantes. Um significante é uma carta da realeza escolhida para representar a pessoa que recebe a leitura. A carta é
                escolhida antes da leitura, colocada no centro do sistema e usada como o ponto focal para concentração e para servir como uma
                referência consistente para o esclarecimento durante a leitura. Isso possibilita ao leitor verificar e confirmar as ações e reações do
                consulente, e a natureza da personalidade que coloca as várias causas e efeitos da leitura em jogo.
                                                           
        </h4>            
</div> 

       
       <br>
        
{% endblock %}
