<nav class="navbar navbar-expand-sm navbar-dark bg-black">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="ynavbar">
            <ul class="navbar-nav me-auto ml-3">
                <li class="nav-item">
                    <a class="nav-link custom-nav" href="{% url 'dashboard' %}">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav" href="{% url 'password_change' %}">Alterar Senha</a>
                </li>
                {% if group_exists %}
                    {% if not profile_exists  %}
                        <li class="nav-item">
                            <a class="nav-link custom-nav" href="{% url 'create_profile' %}">Criar Perfil</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link custom-nav" href="{% url 'edit_profile' %}">Editar Perfil</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link custom-nav" href="{% url 'create_post' %}">Criar Postagem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-nav" href="{% url 'my_posts' %}">Minhas Postagens</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
