{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center mt-5 p-5">
        <div class="col-md-8 col-lg-6 col-sm-10 border rounded-3 bg-white">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <br>
                <h2 class="text-center mb-4">Cadastro</h2>
                {% if user_form.errors %}
                    {% if user_form.email.erros %}
                    <p class="text-center text-danger">
                        Email já cadastrado ou inválido!!!
                    </p>
                    
                    {% elif user_form.password.erros %}
                    <p class="text-center text-danger">
                        Senha com formato inválido!!!
                    </p>
                    {% endif %}
                    
                {% endif %}
                <label for="username">Nome de usuário:</label>
                <input type="text" class="form-control mb-3" id="username" name="username" placeholder="Digite seu nome de usuário" autocomplete="off">

                <label for="first_name">Primeiro nome:</label>
                <input type="text" class="form-control mb-3" id="first_name" name="first_name" placeholder="Digite seu primeiro nome" autocomplete="off">

                <label for="email">Endereço de Email:</label>
                <input type="email" class="form-control mb-3" id="email" name="email" placeholder="Digite seu endereço de email" autocomplete="off">

                <label for="id_password">Senha:</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="id_password" name="password" autocomplete="new-password" >
                    <button type="button" class="btn btn-outline-secondary" id="show-password">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>

                <label for="id_password2">Repita a Senha:</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="id_password2" name="password2" autocomplete="new-password">
                    <button type="button" class="btn btn-outline-secondary" id="show-confirm-password">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>


                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary loging col-12">Cadastrar</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll("#show-password").forEach(function(button) {
        button.addEventListener("click", function() {
            var passwordInput = this.parentNode.querySelector("input[type=password]");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                this.setAttribute("aria-label", "Hide password");
            } else {
                passwordInput.type = "password";
                this.setAttribute("aria-label", "Show password");
            }
        });
    });

    document.querySelectorAll("#show-confirm-password").forEach(function(button) {
        button.addEventListener("click", function() {
            var passwordInput = this.parentNode.querySelector("input[type=password]");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                this.setAttribute("aria-label", "Hide password");
            } else {
                passwordInput.type = "password";
                this.setAttribute("aria-label", "Show password");
            }
        });
    });
</script>

{% endblock %}
